package user

import (
    "github.com/tomassar/judicial-collection-case-management/internal/views/layout"
    "github.com/tomassar/judicial-collection-case-management/internal/api/users"
)

templ Show(user *users.User) {
    @layout.Base(){
        <h1>Hola {user.Email} mi maaano!</h1>
    }   
}