package user

import (
    "github.com/tomassar/judicial-collection-case-management/internal/views/layout"

    "github.com/tomassar/judicial-collection-case-management/internal/domain/users"
    
)

templ Show(user *users.User) {
    @layout.Base(){
        <div class="flex flex-col justify-center items-center w-full">
            <p class="text-orange-700 w-[200px]">Hola {user.Email} mi mano!</p>
        </div>        
    }   
}