package dashboard

import "github.com/tomassar/judicial-collection-case-management/internal/views/layout"

templ Show() {
    @layout.Base(){
        <h1 class="text-xl text-blue-700">Dashboard</h1>
    }
}
