package layout

templ Base() {
    <html>
        <head>
            <title>My Page</title>
        </head>
        <body>
            topbar
            {children...}
            footer
        </body>
    </html>
}